<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">
<link rel="import" href="./rotation-tasks.html">

<dom-module id="ecosystem-infra-rotation">
  <template>
    <style>
      :host {
        @apply(--paper-font-common-base);
      }
    </style>
    <rotation-tasks></rotation-tasks>
  </template>
  <script>
    class EcosystemInfraRotation extends window.Polymer.Element {
      static get is() {
        return 'ecosystem-infra-rotation';
      }
    }

    customElements.define(EcosystemInfraRotation.is, EcosystemInfraRotation);
  </script>
</dom-module>
