<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="./rotation-task.html">

<dom-module id="rotation-tasks">
  <template>
    <h1>Blink>Infra triage</h1>
    <template is='dom-repeat' as='task' items='[[chromiumTasks]]'>
      <rotation-task task='[[task]]'></rotation-task>
    </template>

  </template>

  <script>
    const crbug_list = document.getElementById('crbug');

    const crbug_queries = [
      { desc: 'unconfirmed and untriaged', q: 'component:Blink>Infra status:Unconfirmed,Untriaged' },
      { desc: 'P0 issues >2 days', q: 'component:Blink>Infra Pri=0 modified<today-2' },
      { desc: 'P1 issues >30 days', q: 'component:Blink>Infra Pri=1 modified<today-30' },
      { desc: 'P2 issues >60 days', q: 'component:Blink>Infra Pri=2 modified<today-60' },
    ];

    const CRBUG_BASE_URL = 'https://bugs.chromium.org/p/chromium/issues/list?can=2&q=';

    class RotationTasks extends Polymer.Element {
      static get is() {
        return 'rotation-tasks';
      }

      static get properties() {
        return {
          chromiumTasks: Array,
        };
      }

      async ready() {
        super.ready();

        let queryResults = await (await fetch('crbug.json', { cache: 'no-store' })).json();
        this.chromiumTasks = crbug_queries.map(query => {
          let task = {};
          task.href = `${CRBUG_BASE_URL}${encodeURIComponent(query.q)}`;
          task.name = query.desc;
          task.count = queryResults[query.q].totalResults;
          return task;
        });
      }
    }

    customElements.define(RotationTasks.is, RotationTasks);
  </script>
</dom-module>
