<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="./rotation-task.html">

<dom-module id="rotation-tasks">
  <template>
    <style>
    </style>

    <h1>web-platform-tests triage</h1>
    <template is='dom-repeat' as='task' items='[[githubTasks]]'>
      <rotation-task task='[[task]]'></rotation-task>
    </template>

    <h1>crbug triage</h1>
    <template is='dom-repeat' as='task' items='[[chromiumTasks]]'>
      <rotation-task task='[[task]]'></rotation-task>
    </template>

  </template>

  <script>
    const wpt_list = document.getElementById('wpt');
    const crbug_list = document.getElementById('crbug');

    function minutesAgo(minutes) {
      const date = new Date(Date.now() - minutes * 60000);
      return date.toISOString().substr(0, 10);
    }

    function daysAgo(days) {
      return minutesAgo(days * 1440);
    }

    const gh_queries = [
      { desc: 'pending export PRs', q: `is:pr is:open label:chromium-export -label:"do not merge yet" updated:<${minutesAgo(50)}` },
      { desc: 'untriaged issues', q: 'is:issue is:open label:infra -label:priority:backlog -label:priority:roadmap -label:priority:urgent' },
      { desc: 'urgent issues >2 days', q: `is:issue is:open label:infra label:priority:urgent updated:<${daysAgo(2)} sort:updated-asc` },
      { desc: 'roadmap issues >60 days', q: `is:issue is:open label:infra label:priority:roadmap updated:<${daysAgo(60)} sort:updated-asc` },
    ];

    // These two URLs for the API and the website should be in sync, different views of the same data.
    const GH_API_BASE_URL = "https://api.github.com/search/issues?q=repo%3Aw3c%2Fweb-platform-tests%20";
    const GH_WEB_BASE_URL = "https://github.com/w3c/web-platform-tests/issues?q=";

    const crbug_queries = [
      { desc: 'Ecosystem Infra: unconfirmed and untriaged', q: 'component:Blink>Infra>Ecosystem status:Unconfirmed,Untriaged' },
      { desc: 'Ecosystem Infra: P0 issues >2 days', q: 'component:Blink>Infra>Ecosystem Pri=0 modified<today-2' },
      { desc: 'Ecosystem Infra: P1 issues >30 days', q: 'component:Blink>Infra>Ecosystem Pri=1 modified<today-30' },
      { desc: 'Ecosystem Infra: P2 issues >60 days', q: 'component:Blink>Infra>Ecosystem Pri=2 modified<today-60' },
      { desc: 'Blink Infra: unconfirmed and untriaged', q: 'component:Blink>Infra status:Unconfirmed,Untriaged' },
      { desc: 'Blink Infra: P0 issues >2 days', q: 'component:Blink>Infra Pri=0 modified<today-2' },
      { desc: 'Blink Infra: P1 issues >30 days', q: 'component:Blink>Infra Pri=1 modified<today-30' },
      { desc: 'Blink Infra: P2 issues >60 days', q: 'component:Blink>Infra Pri=2 modified<today-60' },
    ];

    const CRBUG_BASE_URL = 'https://bugs.chromium.org/p/chromium/issues/list?can=2&q=';

    class RotationTasks extends window.Polymer.Element {
      static get is() {
        return 'rotation-tasks';
      }

      static get properties() {
        return {
          chromiumTasks: Array,
          githubTasks: Array,
        };
      }

      async ready() {
        super.ready();

        let githubTasks = await Promise.all(
          gh_queries.map(query => {
            // Hit the API and update the page with the number of results.
            let countUrl = `${GH_API_BASE_URL}${encodeURIComponent(query.q)}`;
            return fetch(countUrl)
              .then(r => r.json())
              .then(results => {
                // Insert the web URL.
                let task = {};
                task.href = `${GH_WEB_BASE_URL}${encodeURIComponent(query.q)}`;
                task.name = query.desc;
                task.count = results.total_count;
                return task;
              });
            }));
        this.githubTasks = githubTasks;

        fetch('/crbug.json', { cache: 'no-store' })
          .then(r => r.json())
          .then(query_results => {
            let chromiumTasks = [];
            for (const query of crbug_queries) {
              const results = query_results[query.q];

              let task = {};
              task.href = `${CRBUG_BASE_URL}${encodeURIComponent(query.q)}`;
              task.name = query.desc;
              task.count = results.totalResults;
              chromiumTasks.push(task);
            }
            this.chromiumTasks = chromiumTasks;
          });
      }
    }

    window.customElements.define(RotationTasks.is, RotationTasks);
  </script>
</dom-module>
