# Note that this file is also included by .gcloudignore, i.e. all files matched
# here will NOT be deployed.

env/
*.pyc
__pycache__/

monorail-key.json
webapp/node_modules/
# webapp/bower_components/ is in webapp/.gitignore as it needs to be deployed.
