<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">
<link rel="import" href="./rotation-task-group.html">

<dom-module id="ecosystem-infra-rotation">
  <template>
    <style>
      :host {
        @apply(--paper-font-common-base);
      }
    </style>
    <template is='dom-repeat' as='group' items='[[groups]]'>
      <rotation-task-group name='[[group.name]]' tasks='[[group.tasks]]'></rotation-task-group>
    </template>
    <footer>
      <p>source on <a href="https://github.com/foolip/ecosystem-infra-rotation">GitHub</a></p>
    </footer>
  </template>
  <script>
    async function fetchJSON(url, init) {
      // Bypass cache by default since gitub.io caches too much.
      const initWithCache = Object.assign({ cache: 'no-store' }, init);
      const response = await fetch(url, initWithCache);
      if (!response.ok) {
        throw new Error(`${url} response has status ${response.status}`);
      }
      return response.json();
    }

    function minutesAgo(minutes) {
      const date = new Date(Date.now() - minutes * 60000);
      // Drop the milliseconds part of the string, since GitHub doesn't support it:
      // https://help.github.com/articles/understanding-the-search-syntax/#query-for-dates
      return date.toISOString().replace(/\.\d\d\dZ$/, 'Z');
    }

    function daysAgo(days) {
      return minutesAgo(days * 1440).substr(0, 10);
    }

    function githubTask(name, query) {
      // These two URLs for the API and the website should be in sync, different views of the same data.
      const BASE_API_URL = "https://api.github.com/search/issues?q=repo%3Aw3c%2Fweb-platform-tests%20";
      const BASE_WEB_URL = "https://github.com/w3c/web-platform-tests/issues?q=";

      const apiURL = `${BASE_API_URL}${encodeURIComponent(query)}`;
      const webURL = `${BASE_WEB_URL}${encodeURIComponent(query)}`;

      // Extract GitHub API token from #GH_TOKEN=abcdef
      let init;
      if (location.hash) {
        const token = new URLSearchParams(location.hash.substr(1)).get('GH_TOKEN');
        if (token) {
          init = { headers: { 'Authorization': `token ${token}` } };
        }
      }

      return {
        name: name,
        href: webURL,
        status: fetchJSON(apiURL, init).then(r => r.total_count),
      };
    }

    function importExportTask(kind) {
      return {
        name: `${kind}er status`,
        href: `https://ci.chromium.org/buildbot/chromium.infra.cron/wpt-${kind}er/`,
        status: fetchJSON(`${kind}.json`).then(builds => {
          const ms_since_last_success = Date.now() - Date.parse(builds.last_success);
          // flag more than one failure in a row
          if (builds.recent_failures > 1) {
            return builds.recent_failures;
          }
          // flag no success in past 12 hours
          if (ms_since_last_success > 12*3600*1000) {
            // TODO: include a status message with the failures, not just a count.
            return 12;
          }
          return 0;
        }),
      }
    }

    // single fetch that will be shared by tasks
    const crbugJSON = fetchJSON('crbug.json');

    function crbugTask(name, query) {
      const BASE_URL = 'https://bugs.chromium.org/p/chromium/issues/list?can=2&q=';

      return {
        name: name,
        href: `${BASE_URL}${encodeURIComponent(query)}`,
        status: crbugJSON.then(async results => {
          return results[query].totalResults;
        }),
      };
    }

    class EcosystemInfraRotation extends Polymer.Element {
      static get is() {
        return 'ecosystem-infra-rotation';
      }

      static get properties() {
        return {
          groups: Array,
        };
      }

      ready() {
        super.ready();

        const twoWaySyncTasks = [
          importExportTask('import'),
          importExportTask('export'),
          githubTask('blocked export PRs', `is:pr is:open label:chromium-export -label:"do not merge yet" updated:<${minutesAgo(50)}`),
        ];

        const wptInfraTaskInfo = [
          { name: 'untriaged issues', query: 'is:issue is:open label:infra -label:priority:backlog -label:priority:roadmap -label:priority:urgent' },
          { name: 'urgent issues >2 days', query: `is:issue is:open label:infra label:priority:urgent updated:<${daysAgo(2)} sort:updated-asc` },
          { name: 'roadmap issues >60 days', query: `is:issue is:open label:infra label:priority:roadmap updated:<${daysAgo(60)} sort:updated-asc` },
        ];

        const blinkInfraTaskInfo = [
          { name: 'untriaged issues', query: 'component:Blink>Infra status:Unconfirmed,Untriaged' },
          { name: 'P0 issues >2 days', query: 'component:Blink>Infra Pri=0 modified<today-2' },
          { name: 'P1 issues >30 days', query: 'component:Blink>Infra Pri=1 modified<today-30' },
          { name: 'P2 issues >60 days', query: 'component:Blink>Infra Pri=2 modified<today-60' },
        ];

        this.groups = [
          {
            name: '2-way sync',
            tasks: twoWaySyncTasks,
          },
          {
            name: 'web-platform-tests infra issue triage',
            tasks: wptInfraTaskInfo.map(info => githubTask(info.name, info.query)),
          },
          {
            name: 'Blink>Infra issue triage',
            tasks: blinkInfraTaskInfo.map(info => crbugTask(info.name, info.query)),
          },
        ];
      }
    }

    customElements.define(EcosystemInfraRotation.is, EcosystemInfraRotation);
  </script>
</dom-module>
